/.cph
/.vscode
/Binary.bin
/Binary.cpp
/Binary.exe
/check.bin
/check.cpp
/check.exe
/code.bin
/code.cpp
/code.exe
/factorial.cpp
/factorial.exe
/fib.cpp
/fib.exe
/hi.cpp
/hi.exe
/insertion.cpp
/insertion.exe
/nCr.cpp
/nCr.exe
/pascal.cpp
/pascal.exe
/prime.cpp
/prime.exe
/search.bin
/search.cpp
/string.bin
/string.cpp
/string.exe
/summat.bin
/summat.cpp
/summat.exe
/TicTacToe_BtnText.class
/TicTacToe_BtnText.java
/tree.cpp
/tree.exe